*{
    margin: 0%;
    padding: 0%;
    background: black
    
}
.box{
    height: 550px;
    width: 400px;
    padding: 10px;
    margin: 10%;
    
}
input{
    color: chartreuse;
    font-size: 27px;
    margin-bottom: 15px;
    text-align: right;
    padding: 20px;
    border-radius: 15px;
}

#but{
    width: 85px;
    height: 70px;
    position: relative;
    font-size: 25px;
    text-align: center;
    font-style: bold;
    background: transparent;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(37, 35, 35);
    

}
.but:hover{
    color:white;
}